# never commit secrets
# *secret*.yaml
*.env
*.pem
*.key


# # ArgoCD deploy keys
argocd_runstate_gitops
argocd_runstate_gitops.pub

# # repo credentials
infra/argocd/repo-cred-secret.yaml
infra/image-updater/secret.yaml